@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#canvas {
    background-color: skyblue;
    float: left;
}
#tools {
    width: 200px;
    height: 700px;
    float: left;
    background-color: lightgreen;
    text-align: center;
}
#tools span {
    display: block;
}
#tools span:first-child {
    margin-top: 150px;
}
#tools span:nth-child(2) {
    margin-top: 20px;
}
#tools span>input {
    width: 60px;
    text-align: right;
}
#tools label {
    display: block;
    padding-top: 50px;
}
#tools button {
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
}
#tools button {
    display: block;
    margin-top: 20px;
}
#tools button:nth-child(3) {
    margin-top: 50px;
}
#define {
    width: 400px;
    height: 200px;
    position: absolute;
    left: 400px;
    top: 200px;
    background-color: #fff;
    border-radius: 10px;
    opacity: 0;
    /*z-index: 0;*/
    display: none;
}
#define>.title {
    height: 40px;
    background-color: silver;
    line-height: 40px;
    font-size: 20px;
    text-indent: 1em;
}
#define>.content {
    padding-top: 10px;
    text-align: center;
}
#define>.content>div:nth-child(2) {
    padding-top: 10px;
}
#define>.content>div:nth-child(3) {
    padding-top: 10px;
}
#define>.content>div>input {
    height: 20px;
    width: 100px;
}
#define>.buttons {
    margin-top: 10px;
    text-align: center;
}
#define>.buttons>button {
    width: 50px;
    height: 25px;
}
#define>.buttons>button:nth-child(2) {
    margin-left: 20px;
}