@iconSize: 60px;

#docker {
  padding: 5px;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, .25);
}

#docker>* {
  vertical-align: middle;
}

#docker .docker-divider {
  display: inline-block;
  width: 1px;
  height: @iconSize;
  margin: 0 10px;
  background-color: #000;
}

#docker .docker-icon {
  padding-bottom: 5px;
  width: @iconSize;
  height: @iconSize;
}